.app__personCard{
    width: 450px;
    background-color: var(--Dark-blue);
    border-radius: 20px;
    color: white;
    margin-right: 1rem;
    height: 100%;
    @media screen and (max-width: 750px){
        width: 75%;
       
     }
}

.app__personCard-profile{
    background-color: var(--Blue);
    border-radius: 20px;
    padding: 2rem;
    p{
        font-weight: 300;
        font-size: .8rem;
        color: var(--Pale-Blue);
    }
    h1{
        font-weight: 300;
        font-size: 2rem;
        margin-top: -.8rem;
    }
    img{
        width: 40%;
        border: 2px solid white;
        border-radius: 100%;
        margin-bottom: 1.5rem;
    }
}

.app__personCard-timeframe{
    padding: 1rem 2rem;
    @media screen and (max-width: 750px){
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    p:hover{
        font-weight: 500;
        cursor: pointer;
    }
}

.active{
    font-weight: 500;
}

